.Card {
  color: var(--color-primary);
  width: 100px;
  text-align: center;
}

.Card__name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 14px;
  line-height: 1.1;
}

.Card__image__container {
  position: relative;
  width: 100px;
  height: 100px;
}

.Card__image {
  position: absolute;
  top: -5px;
  left: -6px;
  text-align: center;
  width: 109px;
  clip-path: circle(48px at center 54px);
}
