.Card {
  width: 100px;
  text-align: center;
  color: var(--color-primary);
}

.Card__name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
}

.Card__image__container {
  position: relative;
  height: 105px;
  width: 105px;
  clip-path: circle(52px at center center);
}

.Card__image {
  position: absolute;
  top: -1px;
  left: -2px;
  text-align: center;
  width: 109px;
  clip-path: circle(48px at center 54px);
}
