.AppHeader {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 12px;
}

.AppHeader h1 {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

.AppHeader i {
  animation: jump 1.2s 3s infinite;
}

@keyframes jump {
  0% {
    transform: translate(0, 15%) scale(1.25, 0.75);
  }

  40% {
    transform: translate(0, -15%) scale(1, 1);
  }

  50% {
    transform: translate(0, -15%) rotate(20deg);
  }

  60% {
    transform: translate(0, -15%) rotate(-20deg);
  }

  70% {
    transform: translate(0, -15%) rotate(20deg);
  }

  80% {
    transform: translate(0, -15%) rotate(-20deg);
  }

  100% {
    transform: translate(0, 15%) scale(1.25, 0.75);
  }
}
